<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Created</key>
		<real>313200841.00226003</real>
		<key>Domain</key>
		<string>.atdmt.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:14:00Z</date>
		<key>Name</key>
		<string>ID</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201013.43079698</real>
		<key>Domain</key>
		<string>.buzzlogic.com</string>
		<key>Expires</key>
		<date>2011-12-05T00:16:53Z</date>
		<key>Name</key>
		<string>BL_Opted_Out</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200900.14355499</real>
		<key>Domain</key>
		<string>.precisionclick.com</string>
		<key>Expires</key>
		<date>2037-12-05T00:14:58Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201017.69868499</real>
		<key>Domain</key>
		<string>.brilig.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:16:57Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>230565327.428323413.1291508218.1291508218.1291508218.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201017.69797099</real>
		<key>Domain</key>
		<string>.brilig.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:16:57Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>230565327.1291508218.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200921.74018198</real>
		<key>Domain</key>
		<string>.advertising.aol.com</string>
		<key>Expires</key>
		<date>2010-12-28T03:48:41Z</date>
		<key>Name</key>
		<string>SESSff329d810a46b3a1bf645141daed34cf</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>42dbdd4ec45badce1376e45aeb12ab88</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200834.07779801</real>
		<key>Domain</key>
		<string>nspmotion.com</string>
		<key>Expires</key>
		<date>2011-12-04T03:00:00Z</date>
		<key>Name</key>
		<string>admcol</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>ip=691552401&amp;dbs=0&amp;fs=0&amp;uid=1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201026.45006698</real>
		<key>Domain</key>
		<string>.server.cpmstar.com</string>
		<key>Expires</key>
		<date>2030-12-05T00:15:03Z</date>
		<key>Name</key>
		<string>x</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201013.05560601</real>
		<key>Domain</key>
		<string>.keewurd.com</string>
		<key>Expires</key>
		<date>2015-12-05T00:16:40Z</date>
		<key>Name</key>
		<string>OptOut</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200852.79364401</real>
		<key>Domain</key>
		<string>btbuckets.com</string>
		<key>Expires</key>
		<date>2010-12-19T00:14:11Z</date>
		<key>Name</key>
		<string>ss</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>a%3A4%3A%7Bs%3A10%3A%22session_id%22%3Bs%3A32%3A%22d2c1fa05fb50c0c020cb256cbd72e186%22%3Bs%3A10%3A%22ip_address%22%3Bs%3A12%3A%2241.56.64.142%22%3Bs%3A10%3A%22user_agent%22%3Bs%3A50%3A%22Mozilla%2F5.0+%28Macintosh%3B+U%3B+Intel+Mac+OS+X+10_6_5%3B+%22%3Bs%3A13%3A%22last_activity%22%3Bs%3A10%3A%221291508051%22%3B%7D700e3ca16e53c011b63c32a315b2a08a</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200908.94440103</real>
		<key>Domain</key>
		<string>.mediaplex.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:15:08Z</date>
		<key>Name</key>
		<string>svid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPT-OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200981.63397801</real>
		<key>Domain</key>
		<string>opt.w55c.net</string>
		<key>Expires</key>
		<date>2020-12-01T05:00:00Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200907.64697498</real>
		<key>Domain</key>
		<string>.tribalfusion.com</string>
		<key>Expires</key>
		<date>2011-03-05T00:15:07Z</date>
		<key>Name</key>
		<string>ANON_ID</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>aKnoeUxNeTw7eZdwWNuHNOZawH10Xq6QYSOaKNEAnu</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200925.30461001</real>
		<key>Domain</key>
		<string>.burstnet.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:24Z</date>
		<key>Name</key>
		<string>BOO</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>opt-out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200901.73914701</real>
		<key>Domain</key>
		<string>.specificmedia.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:01Z</date>
		<key>Name</key>
		<string>ADVIVA</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>NOTRACK</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200915.65866899</real>
		<key>Domain</key>
		<string>.33across.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:15:15Z</date>
		<key>Name</key>
		<string>33x_nc</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>opt-out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200970.75289798</real>
		<key>Domain</key>
		<string>.casalemedia.com</string>
		<key>Expires</key>
		<date>2015-12-05T00:16:10Z</date>
		<key>Name</key>
		<string>CMO</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201024.01355702</real>
		<key>Domain</key>
		<string>.gwallet.com</string>
		<key>Expires</key>
		<date>2015-12-06T00:17:04Z</date>
		<key>Name</key>
		<string>ra1_oo</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
		<key>Version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201024.013515</real>
		<key>Domain</key>
		<string>.gwallet.com</string>
		<key>Expires</key>
		<date>2011-12-05T00:17:04Z</date>
		<key>Name</key>
		<string>ra1_uid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>4639492898584766144</string>
		<key>Version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201018.421009</real>
		<key>Domain</key>
		<string>t2.trackalyzer.com</string>
		<key>Expires</key>
		<date>2010-12-05T08:00:00Z</date>
		<key>Name</key>
		<string>loop</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>http%3A%2F%2Fbrilig%2Ecom%2Fopt%5Fout%5Fnow%2Ehtml</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200980.822851</real>
		<key>Domain</key>
		<string>.owneriq.net</string>
		<key>Expires</key>
		<date>2038-01-19T03:14:07Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200998.22984701</real>
		<key>Domain</key>
		<string>.adgear.com</string>
		<key>Expires</key>
		<date>2012-12-03T19:16:37Z</date>
		<key>Name</key>
		<string>AdGear_OPTOUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>agOptedOut</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201004.80134702</real>
		<key>Domain</key>
		<string>.tellapart.com</string>
		<key>Expires</key>
		<date>2015-12-09T00:16:44Z</date>
		<key>Name</key>
		<string>taoptout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>eJxjYmBiZAAAABcABg==</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200933.98342901</real>
		<key>Domain</key>
		<string>.navegg.com</string>
		<key>Expires</key>
		<date>2020-10-13T00:15:33Z</date>
		<key>Name</key>
		<string>ltcid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>deleted</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201022.48743701</real>
		<key>Domain</key>
		<string>www.wtp101.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:17:02Z</date>
		<key>Name</key>
		<string>tuuid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>opt-out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200919.47667497</real>
		<key>Domain</key>
		<string>.advertising.com</string>
		<key>Expires</key>
		<date>2020-12-05T00:15:19Z</date>
		<key>Name</key>
		<string>ACID</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout!</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200982.88588101</real>
		<key>Domain</key>
		<string>.proximic.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:16:22Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>230754014.363710232.1291508183.1291508183.1291508183.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200982.88478303</real>
		<key>Domain</key>
		<string>.proximic.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:16:22Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>230754014.1291508183.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200981.11451101</real>
		<key>Domain</key>
		<string>.proximic.com</string>
		<key>Expires</key>
		<date>2060-11-22T00:16:20Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200884.81767702</real>
		<key>Domain</key>
		<string>.mathtag.com</string>
		<key>Expires</key>
		<date>2013-12-04T00:14:44Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200933.072384</real>
		<key>Domain</key>
		<string>.www.yumenetworks.com</string>
		<key>Expires</key>
		<date>2088-11-15T00:15:32Z</date>
		<key>Name</key>
		<string>ymoo</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200834.15780401</real>
		<key>Domain</key>
		<string>www.adify.com</string>
		<key>Expires</key>
		<date>2011-03-05T00:27:25Z</date>
		<key>Name</key>
		<string>PastVisitor</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200872.756468</real>
		<key>Domain</key>
		<string>.fetchback.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:14:32Z</date>
		<key>Name</key>
		<string>opt</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200992.07997203</real>
		<key>Domain</key>
		<string>.traveladvertising.com</string>
		<key>Expires</key>
		<date>2015-12-05T00:16:36Z</date>
		<key>Name</key>
		<string>PRIVACY</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200980.85897201</real>
		<key>Domain</key>
		<string>.criteo.com</string>
		<key>Expires</key>
		<date>2015-12-05T00:16:20Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200905.04936898</real>
		<key>Domain</key>
		<string>.specificclick.net</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:04Z</date>
		<key>Name</key>
		<string>ADVIVA</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>NOTRACK</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200993.50389802</real>
		<key>Domain</key>
		<string>.everesttech.net</string>
		<key>Expires</key>
		<date>2029-12-09T10:56:32Z</date>
		<key>Name</key>
		<string>ev_optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200993.50384998</real>
		<key>Domain</key>
		<string>.everesttech.net</string>
		<key>Expires</key>
		<date>2029-12-09T10:56:32Z</date>
		<key>Name</key>
		<string>everest_g_v2</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>g_surferid~G5BM@tngAwAAABc</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200911.74178302</real>
		<key>Domain</key>
		<string>.undertone.com</string>
		<key>Expires</key>
		<date>2011-01-04T00:15:11Z</date>
		<key>Name</key>
		<string>A28X</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200922.33229202</real>
		<key>Domain</key>
		<string>.ads.pointroll.com</string>
		<key>Expires</key>
		<date>2030-02-14T00:00:00Z</date>
		<key>Name</key>
		<string>PRID</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPTOUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200980.04454601</real>
		<key>Domain</key>
		<string>ads.bridgetrack.com</string>
		<key>Expires</key>
		<date>2012-04-17T04:00:00Z</date>
		<key>Name</key>
		<string>BTA</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>GUID=00000000000000000000000000000000</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200953.06287098</real>
		<key>Domain</key>
		<string>www.flashtalking.com</string>
		<key>Expires</key>
		<date>2015-12-31T00:00:00Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200936.466474</real>
		<key>Domain</key>
		<string>.adinterax.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:36Z</date>
		<key>Name</key>
		<string>adxoptout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201025.06052703</real>
		<key>Domain</key>
		<string>.svc.pch.com</string>
		<key>Expires</key>
		<date>2020-12-05T00:18:01Z</date>
		<key>Name</key>
		<string>Optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPT_OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201027.14878702</real>
		<key>Domain</key>
		<string>.convertro.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:17:07Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>226443144.2069209623.1291508227.1291508227.1291508227.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201027.14801401</real>
		<key>Domain</key>
		<string>.convertro.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:17:07Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>226443144.1291508227.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200838.087843</real>
		<key>Domain</key>
		<string>.adify.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:13:58Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>216402758.1498498200.1291508038.1291508038.1291508038.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200838.087071</real>
		<key>Domain</key>
		<string>.adify.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:13:58Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>216402758.1291508038.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200843.30509198</real>
		<key>Domain</key>
		<string>.bluekai.com</string>
		<key>Expires</key>
		<date>2038-01-19T03:14:00Z</date>
		<key>Name</key>
		<string>BKIgnore</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200853.44535601</real>
		<key>Domain</key>
		<string>api.choicestream.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:14:13Z</date>
		<key>Name</key>
		<string>OptOut</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>yes</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200838.74022901</real>
		<key>Domain</key>
		<string>.pro-market.net</string>
		<key>Expires</key>
		<date>2040-11-27T00:13:55Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>0+0+0</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200831.66629201</real>
		<key>Domain</key>
		<string>.edge.ru4.com</string>
		<key>Expires</key>
		<date>2040-11-27T00:13:51Z</date>
		<key>Name</key>
		<string>ru4.optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201012.61400503</real>
		<key>Domain</key>
		<string>ad.wsod.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:16:52Z</date>
		<key>Name</key>
		<string>u</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPT_OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200874.89046597</real>
		<key>Domain</key>
		<string>www.freewheel.tv</string>
		<key>Expires</key>
		<date>2011-12-05T00:14:34Z</date>
		<key>Name</key>
		<string>www_last_activity</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1291508074</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200874.89037901</real>
		<key>Domain</key>
		<string>www.freewheel.tv</string>
		<key>Expires</key>
		<date>2011-12-05T00:14:34Z</date>
		<key>Name</key>
		<string>www_last_visit</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>976148074</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200961.12215698</real>
		<key>Domain</key>
		<string>apps.pubmatic.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:16:00Z</date>
		<key>Name</key>
		<string>pmoo</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200923.21522099</real>
		<key>Domain</key>
		<string>ad.yieldmanager.com</string>
		<key>Expires</key>
		<date>2017-08-14T00:00:00Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200899.38848299</real>
		<key>Domain</key>
		<string>.questionmarket.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:14:59Z</date>
		<key>Name</key>
		<string>ST</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPTOUT_</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200986.441486</real>
		<key>Domain</key>
		<string>.admonkey.dapper.net</string>
		<key>Expires</key>
		<date>2020-12-02T00:16:25Z</date>
		<key>Name</key>
		<string>DAPPEROPTOUT2</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPT-OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200992.981282</real>
		<key>Domain</key>
		<string>.gbid.adbuyer.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:16:32Z</date>
		<key>Name</key>
		<string>tuuid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>opt-out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201018.42093199</real>
		<key>Domain</key>
		<string>.trackalyzer.com</string>
		<key>Expires</key>
		<date>2014-01-01T08:00:00Z</date>
		<key>Name</key>
		<string>trackalyzer</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>123526312918240</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200943.72633898</real>
		<key>Domain</key>
		<string>log.doubleverify.com</string>
		<key>Expires</key>
		<date>2011-12-05T00:15:36Z</date>
		<key>Name</key>
		<string>dv_opt_out</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201021.36560702</real>
		<key>Domain</key>
		<string>.veruta.com</string>
		<key>Expires</key>
		<date>2037-01-16T00:00:00Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200910.05246401</real>
		<key>Domain</key>
		<string>.yahoo.com</string>
		<key>Expires</key>
		<date>2012-12-04T20:00:00Z</date>
		<key>Name</key>
		<string>B</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>43dg0v16flmcd&amp;b=3&amp;s=q4</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201008.64932698</real>
		<key>Domain</key>
		<string>.lijit.com</string>
		<key>Expires</key>
		<date>2035-11-29T00:16:48Z</date>
		<key>Name</key>
		<string>tracking_optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200997.11748201</real>
		<key>Domain</key>
		<string>.monster.com</string>
		<key>Expires</key>
		<date>2060-11-22T00:16:36Z</date>
		<key>Name</key>
		<string>CANOptOut</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200955.48563302</real>
		<key>Domain</key>
		<string>weborama.com</string>
		<key>Expires</key>
		<date>2011-12-05T00:15:55Z</date>
		<key>Name</key>
		<string>USER_LANG</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>FR</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200875.31005001</real>
		<key>Domain</key>
		<string>.interclick.com</string>
		<key>Expires</key>
		<date>2040-12-05T00:14:36Z</date>
		<key>Name</key>
		<string>Opt</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201017.31024402</real>
		<key>Domain</key>
		<string>vitamine.networldmedia.net</string>
		<key>Expires</key>
		<date>2013-08-31T00:16:56Z</date>
		<key>Name</key>
		<string>OPTOUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201022.36692703</real>
		<key>Domain</key>
		<string>.chango.com</string>
		<key>Expires</key>
		<date>2020-12-05T00:17:11Z</date>
		<key>Name</key>
		<string>chango.optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201004.80137801</real>
		<key>Domain</key>
		<string>t.tellapart.com</string>
		<key>Expires</key>
		<date>2010-12-05T01:16:44Z</date>
		<key>Name</key>
		<string>AWSELB</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>494125B31A6B8CB9CC2CFAF413D0C58474581416B124730BC7C6C3BA1BE9475666771E9D1F9CE367403AA0A1DABA5AC35B2103C61008FB361BEC71E51F85BF7F62CFCD92FD</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200911.20134997</real>
		<key>Domain</key>
		<string>ads.undertone.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:10Z</date>
		<key>Name</key>
		<string>UTOPTOUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPTOUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200902.46320701</real>
		<key>Domain</key>
		<string>.trafficmp.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:02Z</date>
		<key>Name</key>
		<string>naiopt</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200832.11519599</real>
		<key>Domain</key>
		<string>.decideinteractive.com</string>
		<key>Expires</key>
		<date>2011-12-05T00:13:51Z</date>
		<key>Name</key>
		<string>id</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>9272912080875298293</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201001.04550803</real>
		<key>Domain</key>
		<string>.hurra.com</string>
		<key>Expires</key>
		<date>2011-11-30T00:16:40Z</date>
		<key>Name</key>
		<string>__coo</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200871.32251102</real>
		<key>Domain</key>
		<string>.fimserve.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:14:30Z</date>
		<key>Name</key>
		<string>NAI</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200980.89922398</real>
		<key>Domain</key>
		<string>.pulsemgr.com</string>
		<key>Expires</key>
		<date>2038-01-18T00:00:00Z</date>
		<key>Name</key>
		<string>p</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPTOUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200973.242239</real>
		<key>Domain</key>
		<string>.tag.admeld.com</string>
		<key>Expires</key>
		<date>2016-01-01T05:00:00Z</date>
		<key>Name</key>
		<string>admeld_opt_out</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200884.49292701</real>
		<key>Domain</key>
		<string>.mmismm.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:14:44Z</date>
		<key>Name</key>
		<string>G</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>-1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200864.11680102</real>
		<key>Domain</key>
		<string>.serving-sys.com</string>
		<key>Expires</key>
		<date>2038-01-01T05:00:00Z</date>
		<key>Name</key>
		<string>ebOptOut</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>TRUE</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200995.83309197</real>
		<key>Domain</key>
		<string>help.aol.co.uk</string>
		<key>Expires</key>
		<date>2010-12-05T00:18:35Z</date>
		<key>HttpOnly</key>
		<string>TRUE</string>
		<key>Name</key>
		<string>NSC_ofxifmq-b-opjq*80</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>ffffffffceb4a74845525d5f4f58455e445a4a423660</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200832.20256299</real>
		<key>Domain</key>
		<string>.realmedia.com</string>
		<key>Expires</key>
		<date>2032-12-31T23:59:59Z</date>
		<key>Name</key>
		<string>RMOPTOUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200900.33824199</real>
		<key>Domain</key>
		<string>.adviva.net</string>
		<key>Expires</key>
		<date>2015-12-04T00:15:00Z</date>
		<key>Name</key>
		<string>ADVIVA</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>NOTRACK</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200885.664747</real>
		<key>Domain</key>
		<string>.nexac.com</string>
		<key>Expires</key>
		<date>2027-05-14T00:14:45Z</date>
		<key>Name</key>
		<string>na_id</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>ignore</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200886.53570199</real>
		<key>Domain</key>
		<string>.nexac.com</string>
		<key>Expires</key>
		<date>2030-12-12T22:00:00Z</date>
		<key>Name</key>
		<string>na_tc</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200936.54392397</real>
		<key>Domain</key>
		<string>www.tattomedia.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:15:40Z</date>
		<key>Name</key>
		<string>na_optout</string>
		<key>Path</key>
		<string>/about_us</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201011.14099902</real>
		<key>Domain</key>
		<string>.triggit.com</string>
		<key>Expires</key>
		<date>2015-12-05T00:00:00Z</date>
		<key>Name</key>
		<string>trgoptout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200986.442487</real>
		<key>Domain</key>
		<string>.scorecardresearch.com</string>
		<key>Expires</key>
		<date>2040-12-05T00:16:25Z</date>
		<key>Name</key>
		<string>NO_COOKIE</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200833.088162</real>
		<key>Domain</key>
		<string>.afy11.net</string>
		<key>Expires</key>
		<date>2020-12-05T00:00:00Z</date>
		<key>Name</key>
		<string>a</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>AAAAAAAAAAAAAAAAAAAAAA</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200977.548702</real>
		<key>Domain</key>
		<string>.xgraph.net</string>
		<key>Expires</key>
		<date>2038-11-28T00:16:17Z</date>
		<key>Name</key>
		<string>XG_OPT_OUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPTOUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200871.32268602</real>
		<key>Domain</key>
		<string>.opt.fimserve.com</string>
		<key>Expires</key>
		<date>2011-03-06T00:14:30Z</date>
		<key>Name</key>
		<string>LO</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200871.32260001</real>
		<key>Domain</key>
		<string>.opt.fimserve.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:14:30Z</date>
		<key>Name</key>
		<string>UI</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>|</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201001.27049297</real>
		<key>Domain</key>
		<string>.snoobi.com</string>
		<key>Expires</key>
		<date>2030-02-03T00:16:40Z</date>
		<key>Name</key>
		<string>Snoobi_optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200976.11852902</real>
		<key>Domain</key>
		<string>.displaymarketplace.com</string>
		<key>Expires</key>
		<date>2015-12-05T00:16:15Z</date>
		<key>Name</key>
		<string>NoTrack</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>"Aperture Opt-Out"</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200953.883798</real>
		<key>Domain</key>
		<string>.weborama.fr</string>
		<key>Expires</key>
		<date>2012-12-04T00:15:53Z</date>
		<key>Name</key>
		<string>AFFICHE_W</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>____________</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200950.93927902</real>
		<key>Domain</key>
		<string>.effectivemeasure.net</string>
		<key>Expires</key>
		<date>2015-12-31T13:00:00Z</date>
		<key>Name</key>
		<string>_em_opt_out</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200967.66524303</real>
		<key>Domain</key>
		<string>.statcounter.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:16:07Z</date>
		<key>Name</key>
		<string>is_unique</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>sc1108651.1291508167.0</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201009.019503</real>
		<key>Domain</key>
		<string>.spongecell.com</string>
		<key>Expires</key>
		<date>2020-12-04T12:16:48Z</date>
		<key>Name</key>
		<string>_spongecell_loves_u</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string></string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201009.01945198</real>
		<key>Domain</key>
		<string>.spongecell.com</string>
		<key>Expires</key>
		<date>2020-12-04T12:16:48Z</date>
		<key>Name</key>
		<string>auid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200917.47698402</real>
		<key>Domain</key>
		<string>.rfihub.com</string>
		<key>Expires</key>
		<date>2030-11-30T00:15:13Z</date>
		<key>Name</key>
		<string>a</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>cOPT_OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200940.81053102</real>
		<key>Domain</key>
		<string>.lucidmedia.com</string>
		<key>Expires</key>
		<date>2078-12-23T03:29:47Z</date>
		<key>Name</key>
		<string>8</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>""</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200861.489263</real>
		<key>Domain</key>
		<string>.exelator.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:14:21Z</date>
		<key>Name</key>
		<string>DNP</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>eXelate+OptOut</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200963.43331999</real>
		<key>Domain</key>
		<string>.aggregateknowledge.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:16:03Z</date>
		<key>Name</key>
		<string>uuid</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPTOUT</string>
		<key>Version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201012.20855099</real>
		<key>Domain</key>
		<string>tracking.quisma.com</string>
		<key>Expires</key>
		<date>2013-11-10T16:16:51Z</date>
		<key>Name</key>
		<string>tracker_optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200873.98649102</real>
		<key>Domain</key>
		<string>.doubleclick.net</string>
		<key>Expires</key>
		<date>2030-11-09T23:59:00Z</date>
		<key>Name</key>
		<string>id</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPT_OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200940.11380899</real>
		<key>Domain</key>
		<string>.tattomedia.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:15:40Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>210335376.1468062610.1291508140.1291508140.1291508140.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200940.11304897</real>
		<key>Domain</key>
		<string>.tattomedia.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:15:40Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>210335376.1291508140.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201015.86836898</real>
		<key>Domain</key>
		<string>.bvmedia.ca</string>
		<key>Expires</key>
		<date>2012-12-04T00:16:55Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>216066117.1756879815.1291508216.1291508216.1291508216.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201015.86762702</real>
		<key>Domain</key>
		<string>.bvmedia.ca</string>
		<key>Expires</key>
		<date>2011-06-05T12:16:55Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>216066117.1291508216.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201020.05624199</real>
		<key>Domain</key>
		<string>optout.ib-ibi.com</string>
		<key>Expires</key>
		<date>2060-12-05T00:16:59Z</date>
		<key>HttpOnly</key>
		<string>TRUE</string>
		<key>Name</key>
		<string>ib-ibi.com-OptOut</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>IsOptOut=true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200994.74295503</real>
		<key>Domain</key>
		<string>.ctasnet.com</string>
		<key>Expires</key>
		<date>2036-04-11T06:29:54Z</date>
		<key>Name</key>
		<string>o</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>9</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201001.55073899</real>
		<key>Domain</key>
		<string>.yieldoptimizer.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:16:41Z</date>
		<key>Name</key>
		<string>om_optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201024.01364702</real>
		<key>Domain</key>
		<string>rs.gwallet.com</string>
		<key>Expires</key>
		<date>2015-09-06T02:29:21Z</date>
		<key>Name</key>
		<string>BIGipServer.radiumone.gwallet.com</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>MTAuMTAxLjIuMTA1IDg4ODg=</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200846.76609498</real>
		<key>Domain</key>
		<string>.bizo.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:14:06Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>4778796.2083360144.1291508047.1291508047.1291508047.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200846.76534599</real>
		<key>Domain</key>
		<string>.bizo.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:14:06Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>4778796.1291508047.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200832.43714201</real>
		<key>Domain</key>
		<string>.247realmedia.com</string>
		<key>Expires</key>
		<date>2032-12-31T23:59:59Z</date>
		<key>Name</key>
		<string>RMOPTOUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201009.01939702</real>
		<key>Domain</key>
		<string>spongecell.com</string>
		<key>Expires</key>
		<date>2020-12-04T12:16:48Z</date>
		<key>Name</key>
		<string>cookie_opt_out</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200861.48917902</real>
		<key>Domain</key>
		<string>load.exelator.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:14:21Z</date>
		<key>Name</key>
		<string>DNP</string>
		<key>Path</key>
		<string>/load</string>
		<key>Value</key>
		<string>eXelate+OptOut</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200932.67329597</real>
		<key>Domain</key>
		<string>www.navegg.com</string>
		<key>Expires</key>
		<date>2010-12-06T00:15:32Z</date>
		<key>Name</key>
		<string>_icl_current_language</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>en</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200844.96090102</real>
		<key>Domain</key>
		<string>.bluestreak.com</string>
		<key>Expires</key>
		<date>2020-12-01T19:14:04Z</date>
		<key>Name</key>
		<string>id</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>OPT_OUT</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200955.42034602</real>
		<key>Domain</key>
		<string>recs.richrelevance.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:15:55Z</date>
		<key>Name</key>
		<string>prooc</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200872.854828</real>
		<key>Domain</key>
		<string>.fwmrm.net</string>
		<key>Expires</key>
		<date>2020-12-02T00:14:32Z</date>
		<key>Name</key>
		<string>opt_out</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>"true"</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201002.83151102</real>
		<key>Domain</key>
		<string>.mxptint.net</string>
		<key>Expires</key>
		<date>2016-12-05T00:16:48Z</date>
		<key>Name</key>
		<string>mxpim</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200976.65017599</real>
		<key>Domain</key>
		<string>.media6degrees.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:16:16Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>190045751.1947075798.1291508177.1291508177.1291508177.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200976.64944601</real>
		<key>Domain</key>
		<string>.media6degrees.com</string>
		<key>Expires</key>
		<date>2011-06-05T12:16:16Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>190045751.1291508177.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none)</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200976.58347601</real>
		<key>Domain</key>
		<string>.media6degrees.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:16:16Z</date>
		<key>Name</key>
		<string>orboptout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>2-1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200837.07850099</real>
		<key>Domain</key>
		<string>.abmr.net</string>
		<key>Expires</key>
		<date>2038-01-19T00:00:00Z</date>
		<key>Name</key>
		<string>AOOC</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200877.482256</real>
		<key>Domain</key>
		<string>.freewheel.tv</string>
		<key>Expires</key>
		<date>2012-12-04T00:14:37Z</date>
		<key>Name</key>
		<string>__utma</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>56918909.1597246073.1291508077.1291508077.1291508077.1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200877.48088002</real>
		<key>Domain</key>
		<string>.freewheel.tv</string>
		<key>Expires</key>
		<date>2011-06-05T12:14:37Z</date>
		<key>Name</key>
		<string>__utmz</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>56918909.1291508077.1.1.utmcsr=privacychoice.org|utmccn=(referral)|utmcmd=referral|utmcct=/</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201019.35013002</real>
		<key>Domain</key>
		<string>.newtention.net</string>
		<key>Expires</key>
		<date>2015-12-04T00:16:59Z</date>
		<key>Name</key>
		<string>id</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200832.49165303</real>
		<key>Domain</key>
		<string>.adcentriconline.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:13:52Z</date>
		<key>Name</key>
		<string>AdcentricOptout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200988.03570902</real>
		<key>Domain</key>
		<string>.beencounter.com</string>
		<key>Expires</key>
		<date>2012-11-04T00:16:27Z</date>
		<key>Name</key>
		<string>cookie3</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>no-track</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200889.14760703</real>
		<key>Domain</key>
		<string>.nuggad.net</string>
		<key>Expires</key>
		<date>2020-01-01T00:00:00Z</date>
		<key>Name</key>
		<string>nuggstopp</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200885.794393</real>
		<key>Domain</key>
		<string>.nextag.com</string>
		<key>Expires</key>
		<date>2078-12-23T03:28:52Z</date>
		<key>Name</key>
		<string>ntad</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>opt-out</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200927.27683401</real>
		<key>Domain</key>
		<string>.adbrite.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:15:26Z</date>
		<key>Name</key>
		<string>untarget</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200852.79369801</real>
		<key>Domain</key>
		<string>.btbuckets.com</string>
		<key>Expires</key>
		<date>2015-12-04T00:14:12Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200988.78237599</real>
		<key>Domain</key>
		<string>.netmng.com</string>
		<key>Expires</key>
		<date>2020-12-02T00:16:28Z</date>
		<key>Name</key>
		<string>EVO5_OPT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>%BC%9F%A5%AF%05%98%88%A39%C1%3C%CC%8EB%B0%FF%FCU%A4f%E8%9B%BA%CA%00t%7E%14%01%C2%03%E8</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200967.47692502</real>
		<key>Domain</key>
		<string>rotator.adjuggler.com</string>
		<key>Expires</key>
		<date>2012-12-04T00:16:07Z</date>
		<key>Name</key>
		<string>aj_optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200841.51752502</real>
		<key>Domain</key>
		<string>.revsci.net</string>
		<key>Expires</key>
		<date>2038-01-17T11:14:07Z</date>
		<key>Name</key>
		<string>NETID01</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>optout</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200841.51758701</real>
		<key>Domain</key>
		<string>.revsci.net</string>
		<key>Expires</key>
		<date>2038-01-17T11:14:07Z</date>
		<key>Name</key>
		<string>NETOPTOUT</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313201004.58631599</real>
		<key>Domain</key>
		<string>.esm1.net</string>
		<key>Expires</key>
		<date>2011-12-05T00:16:44Z</date>
		<key>Name</key>
		<string>optout</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>yes</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200933.93893898</real>
		<key>Domain</key>
		<string>.yumenetworks.com</string>
		<key>Expires</key>
		<date>2078-12-23T03:29:39Z</date>
		<key>Name</key>
		<string>ymoo</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>true</string>
	</dict>
	<dict>
		<key>Created</key>
		<real>313200906.72478098</real>
		<key>Domain</key>
		<string>.turn.com</string>
		<key>Expires</key>
		<date>2078-12-23T03:29:12Z</date>
		<key>Name</key>
		<string>optOut</string>
		<key>Path</key>
		<string>/</string>
		<key>Value</key>
		<string>1</string>
	</dict>
</array>
</plist>
